<span id="<%= dom_id score %>">
  <span>
    <strong>Subject:</strong>
    <%= score.subject %>
  </span>

  <span>
    <strong>Point:</strong>
    <%= score.point %>
  </span>

  <span>
    <strong>Grade:</strong>
    <%= score.grade %>
  </span>

  <span>
    <strong>Student:</strong>
    <%= score.student_id %>
  </span>

</span>
