<p style="color: green"><%= notice %></p>

<%= render @score %>

<div>
  <%= link_to "Edit this score", edit_score_path(@score) %> |
  <% if (session[:who] == "scoreAll") %>
    <%= link_to "Back to scores", scores_path %>
  <% else %>
    <%= link_to "Back to scores", "/students/#{session[:idSESS]}/edit_score" %>
  <% end %>

  <%= button_to "Destroy this score", @score, method: :delete %>
</div>
